{{!-- 14.5.6 step ONE
    set up another handlebars.js template and route
    capture button clicks 
    update the API endpoints to use the id from the seesion --}}
<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
            <span>({{format_url post.post_url}})</span>
        </div>
        <div>
            {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>
{{!-- 14.5.6 step TWO display a form for adding new comments and then list the post's current comments underneath --}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{!-- 14.5.6 step THREE replace the div class comments with the comments post.comments expression --}}
{{> comments post.comments}}

{{!-- 14.5.6 step FIVE include script elements for all related front-end javascript files --}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>